<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.LodingMapper">

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.example.demo.model.Loding">

    select 
    * from lol_hero
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="com.example.demo.model.Loding" useGeneratedKeys="true" keyProperty="id">

    insert into lol_loding (loding_name, loding_rate,hero_id)
    values (#{lodingName,jdbcType=VARCHAR},#{lodingRate},#{heroId})
  </insert>

</mapper>